html {
  /* For the default link colour */
  --link-colour: #006726;

  /* For the link hover state */
  --link-colour-alt: #00521e;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto auto 0.75em;
}

h1 {
  font-size: 3.052rem;
  font-weight: bold;
}

h2 {
  font-size: 2.441rem;
  font-weight: bold;
}

h3 {
  font-size: 1.953rem;
  font-weight: bold;
}

h4 {
  font-size: 1.563rem;
  font-weight: bold;
}

p,
li {
  font-size: 1.25rem;
}

a {
  color: var(--link-colour);
  max-width: max-content;
  text-decoration: underline;
  text-decoration-thickness: 0.15em;
}

a:hover {
  color: var(--link-colour-alt);
  text-decoration-thickness: 0.3em;
}

a:focus {
  background-color: #fd0;
  box-shadow: 0 -0.2em #fd0, 0 0.3em #0b0c0c;
  color: #0b0c0c !important;
  outline: 3px solid transparent;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-areas:
    "skip-link"
    "header"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  margin: 0;
  min-height: 100vh;
}

main {
  font-size: 1.25rem;
  grid-area: main;
  margin: 0 auto;
  max-width: 80ch;
  max-width: 100vw;
  width: 100%;
}

nav {
  height: min-content;
}

a:link,
h1,
h2,
h3,
h4,
h5,
p,
li,
blockquote {
  max-width: 65ch;
}

img {
  border: 0.25rem solid black;
  padding: 2rem;
}

.c-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-nav__item,
.c-nav__item:hover {
  color: #fff;
  display: block;
  max-width: 100%;
  padding: 1rem;
}

.c-nav__item:focus {
  color: #000;
}

.c-nav li:first-of-type a {
  padding-left: 0;
}

footer {
  grid-area: footer;
}

.c-skip_link {
  grid-area: skip-link;
  position: absolute;
  top: -999px;
}

.c-skip_link:focus {
  max-width: 100%;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: underline;
  top: 0;
}

.c-header {
  background-color: #0b0c0c;
  color: #fff;
  grid-area: header;
}

.c-header__site-name {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 1rem 1rem 0;
  text-decoration: none;
}

.c-header__site-name:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
}

.c-header__wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.c-main {
  padding: 1.875rem 0 3.125rem;
}

.c-footer {
  background-color: #f3f2f1;
  color: #0b0c0c;
}

.c-footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}

.c-footer li {
  margin: 0.25rem 0;
  padding: 0.5rem 0;
}

.u-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  padding: 0 2rem;
  width: 100%;
}

.u-visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.u-flow * + * {
  margin-top: 1rem;
}

.u-flow * + h2 {
  margin-top: 3rem;
}

.u-flow * + h3,
.u-flow * + h4,
.u-flow * + h5 {
  margin-top: 2rem;
}

.c-blog-card {
  border-top: 0.1rem solid #b1b4b6;
  margin-top: 0;
  padding: 3rem 0;
}

:is(.c-blog-card, .c-resource-section):first-of-type {
  margin-top: 3rem;
}

:is(.c-blog-card, .c-resource-section):last-of-type {
  border-bottom: 0.1rem solid #b1b4b6;
}

.c-blog-card__summary,
.c-blog-card__link {
  font-size: 1.563rem;
  margin: 1.875rem 0;
}

.c-blog-card__link {
  display: block;
}

.c-blog__content {
  margin: 3rem 0;
}

.c-resource-card {
  padding: 0 0 1rem;
}

.c-resource-section {
  border-top: 0.1rem solid #b1b4b6;
  margin-top: 0;
  padding: 3rem 0;
}

table {
  border: 0.1rem solid #000;
  border-collapse: collapse;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
  max-width: 100%;
  overflow-x: scroll;
}

th,
td {
  border: 0.1rem solid #000;
  padding: 0.5rem 1rem;
}

blockquote {
  border-left: 0.5rem solid #b1b4b6;
  display: block;
  padding: 1rem;
}

pre {
  border: 0.1rem solid #b1b4b6;
  max-width: 100%;
  overflow-x: scroll;
  padding: 1rem 2rem;
}

code {
  font-family: monospace;
  overflow-wrap: anywhere;
}

.c-breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-breadcrumbs__list-item {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 1rem;
  margin-top: 0;
  padding: 0.5rem 1rem 0.5rem 0;
}

.c-breadcrumbs__list-item::after {
  content: ">";
  display: block;
  height: 1rem;
  padding-left: 1rem;
  width: 1rem;
}

.c-breadcrumbs__list-item:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.c-breadcrumbs__list-item:last-of-type::after {
  content: "";
}
