---
pagination:
  data: authors
  size: 1
  alias: author
  filter: ['all']
permalink: '/authors/{{ author.name | slug }}/'
eleventyExcludeFromCollections: true
---
{% extends "_layouts/base.html" %}

{% set title %}
Pieces written by {{ author.name }}
{% endset %}

{% set authorNameLink %}
  /authors/{{ author.name | slug }}/
{% endset %}

{% block breadcrumbs %}
  <ol class="c-breadcrumbs">
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/' | url }}" class="c-breadcrumbs__link">Home</a>
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="{{ authorNameLink | url }}" class="c-breadcrumbs__link" aria-current="page">Pieces written by {{ author.name }}</a>
    </li>
  </ol>
{% endblock %}

{% set postListItems = collections["blog"] %}
{% set resourcesListItems = collections["resource"] %}

{% block mainContent %}

  <div class="c-resource-section">
    <h2 id="writing-accessible-forms">Resources</h2>
    {% for resource in resourcesListItems %}
      {% for resourceAuthor in resource.data.author %}
        {% if (resourceAuthor == author.name) %}
          {# Stores data about the post into variables used in the blog-summary partial #}
          {% set postTitle = resource.data.title %}
          {% set postTags = resource.data.tags %}
          {% set postSummary = resource.data.summary %}
          {% set postUrl = resource.url %}
          {% set postAuthors = resource.data.author %}
          {% set postPublished = resource.data.publishedDate %}
          {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
          {% include "_partials/resource-summary.njk" %}
        {% endif %}
      {% endfor %}
    {% endfor %} 
  </div>
  
  {% for post in postListItems | reverse %}
    {% for postAuthor in post.data.author %}
      {% if (postAuthor == author.name) %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postTags = post.data.tags %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.date %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/blog-summary.njk" %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  
  {% for post in postListItems | reverse %}
    {% for postAuthor in post.data.author %}
      {% if (postAuthor == author.name) %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postTags = post.data.tags %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.date %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/blog-summary.njk" %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock %}