---
title: 'Tag Archive'
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ['all']
permalink: '/tag/{{ tag | slug }}/'
eleventyExcludeFromCollections: true
---
{% extends "_layouts/base.html" %}

{% if tag == "awareness" %}
  {% set tagDescriptor = "Ways of working" %}
{% endif %}
{% if tag == "knowledgeSharing" %}
  {% set tagDescriptor = "Knowledge sharing" %}
{% endif %}

{% set title %}
Content relating to {{ tagDescriptor }}
{% endset %}

{% block breadcrumbs %}
  <ol class="c-breadcrumbs">
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/' | url }}" class="c-breadcrumbs__link">Home</a>
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/blog/' | url }}" class="c-breadcrumbs__link">Blog</a>
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="{{ page.url | url }}" class="c-breadcrumbs__link" aria-current="page">Content relating to {{ tagDescriptor }}</a>
    </li>
  </ol>
{% endblock %}

{% set postListItems = collections[tag] %}

{% block mainContent %}
  {% for post in postListItems | reverse %}
    {# Stores data about the post into variables used in the post-summary partial #}
    {% set postTitle = post.data.title %}
    {% set postTags = post.data.tags %}
    {% set postSummary = post.data.summary %}
    {% set postUrl = post.url %}
    {% set postAuthors = post.data.author %}
    {% set postPublished = post.date %}
    {# Includes the post-summary partial code, putting the post's data into a reusable template #}
    {% include "_partials/post-summary.njk" %}
  {% endfor %}
{% endblock %}