---
title: Writing test
pagination:
  data: collections.writing
  size: 10
  alias: posts
---
{% extends "_layouts/base.html" %}

{% block breadcrumbs %}
  <ol class="c-breadcrumbs">
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/' | url }}" class="c-breadcrumbs__link">Home</a>
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/writing/' | url }}" class="c-breadcrumbs__link" aria-current="page">Writing</a>
    </li>
  </ol>
{% endblock %}

{% block mainContent %}
  <p>The accessibility team write about accessibility issues that we have encountered. These posts are short, focussed articles which provide our learnings from the work we have done.</p>
  {# Loop through all of the blog posts #}
  {% for post in posts | reverse  %}
    {# Stores data about the post into variables used in the blog-summary partial #}
    {% set postTitle = post.data.title %}
    {% set postTags = post.data.tags %}
    {% set postSummary = post.data.summary %}
    {% set postUrl = post.url %}
    {% set postAuthors = post.data.author %}
    {% set postPublished = post.date %}
    {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
    {% include "_partials/blog-summary.njk" %}
  {% endfor %}
{% endblock %} 