@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.eot');
    src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.eot?#iefix') format('embedded-opentype'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff2') format('woff2'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.woff') format('woff'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.eot');
    src: local('Atkinson Hyperlegible Italic'), local('AtkinsonHyperlegible-Italic'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.eot?#iefix') format('embedded-opentype'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.woff2') format('woff2'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.woff') format('woff'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.eot');
    src: local('Atkinson Hyperlegible Bold Italic'), local('AtkinsonHyperlegible-BoldItalic'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.woff2') format('woff2'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.woff') format('woff'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.eot');
    src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.eot?#iefix') format('embedded-opentype'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff2') format('woff2'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.woff') format('woff'),
        url('_includes/css/AtkinsonHyperlegible/AtkinsonHyperlegible-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}