<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    {% if title === site.name %}
    <title>{{ site.name }}</title>
    {% else %}
    <title>{{title}} - {{ site.name }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      {% include "css/reset/reset.css" %}
      {% include "css/AtkinsonHyperlegible/stylesheet.css" %}
      {% include "css/main.css" %}
    </style>
  </head>
  <body>
    <a href="#main" class="c-skip_link">Skip to main content</a>
    <header class="c-header">
      <div class="[ c-header__wrapper ] [ u-width-wrapper ]">
        <a class="c-header__site-name" href="{{ '/' | url }}">{{ site.name }}</a>
        <!-- <nav>
          <ul class="c-nav">
            {# <li><a class="c-nav__item" href="{{ '/' | url }}">Resources</a></li> #}
            {# <li><a class="c-nav__item" href="{{ '/writing/' | url }}">Writing</a></li> #}
          </ul>
        </nav> -->
        <button id="toggleTheme" aria-live="assertive" aria-atomic="true" hidden>Toggle Dark</button>
      </div>
    </header>
    <main id="main" class="c-main">
      <div class="[ c-main__wrapper ] [ u-width-wrapper u-flow ]">
        <!-- {% block breadcrumbs %}
        {% endblock %} -->
        {% if tags|length %}
          {% if ('resource' in tags) or ('writing' in tags) %}
            <h1>{{ title }}</h1>
          {% else %}
            <h1>Draft for: {{ title }}</h1>
          {% endif %}
          {% else %}
          <h1>{{ title }}</h1>
        {% endif %}
        {% block mainContent %}
          {{ content | safe }}
        {% endblock %}
      </div>
    </main>
    <footer class="c-footer">
      <div class="[ c-footer__wrapper ] [ u-width-wrapper ]">
        <h2 class="u-visually-hidden">Useful Links</h2>
        <!-- <nav> -->
        <ul>
          <li><a href="{{ '/accessibility-statement/' | url }}">Accessibility statement</a></li>
          {# <li><a href="{{ '/sitemap/' | url }}">Sitemap</a></li> #}
        </ul>
        <!-- </nav> -->
      </div>
    </footer>
    {% include "js/themepicker.html" %}
  </body>
</html>
