<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    {% if title === site.name %}
    <title>{{ site.name }}</title>
    <meta property="og:title" content="{{ site.name }}" />
        <meta property="og:description" content="Removeing Accessibility barriers from digital services so everyone can engage in Defra’s mission" />
    {% else %}
    <title>{{title}} - {{ site.name }}</title>
    <meta property="og:title" content="{{title}} - {{ site.name }}" />
    <meta property="og:description" content="{{summary}}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://defra-design.github.io/accessibility{{page.url}}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:image" content="https://defra-design.github.io/accessibility/_includes/_openGraph/darOG.png">
    <style>
      {% include "css/reset/reset.css" %}
      {% include "css/AtkinsonHyperlegible/stylesheet.css" %}
      {% include "css/main.css" %}
    </style>
  </head>
  <body>
    <a href="#main" class="c-skip_link">Skip to main content</a>
    <header class="c-header">
      <div class="[ c-header__wrapper ] [ u-width-wrapper ]">
        <a class="c-header__site-name" href="{{ '/' | url }}">{{ site.name }}</a>
        <!-- <nav>
          <ul class="c-nav">
            {# <li><a class="c-nav__item" href="{{ '/' | url }}">Resources</a></li> #}
            {# <li><a class="c-nav__item" href="{{ '/writing/' | url }}">Writing</a></li> #}
          </ul>
        </nav> -->
        <button id="toggleTheme" aria-live="assertive" aria-atomic="true" hidden>Toggle Dark</button>
      </div>
    </header>
    <main id="main" class="c-main">
      <div class="[ c-main__wrapper ] [ u-width-wrapper u-flow ]">
        <!-- {% block breadcrumbs %}
        {% endblock %} -->
        {% if status == "draft" %}
          <h1>Draft for: {{ title }}</h1>
        {% else %}
          <h1>{{ title }}</h1>
        {% endif %}
        {% block mainContent %}
          {{ content | safe }}
        {% endblock %}
      </div>
    </main>
    <footer class="c-footer">
      <div class="[ c-footer__wrapper ] [ u-width-wrapper ]">
        <h2 class="u-visually-hidden">Useful links and licence information</h2>
        <!-- <nav> -->
        <ul>
          <li><a href="{{ '/accessibility-statement/' | url }}">Accessibility statement</a></li>
          <li><a href="{{ '/sitemap/' | url }}">Site map</a></li>
          <li>Use this information freely under the
          <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a></li>
        </ul>
        <!-- </nav> -->
      </div>
    </footer>
    {% include "js/themepicker.html" %}
  </body>
</html>
