---
title: Home
---

{% set title = site.name %}

{% extends "_layouts/base.html" %}

{% block breadcrumbs %}
  <ol class="c-breadcrumbs">
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/' | url }}" class="c-breadcrumbs__link">Home</a>
    </li>
  </ol>
{% endblock %}

{% block mainContent %}
  <p>Categories:</p>

  <ul>
    <li><a href="#writing-content">Writing content</a></li>
    <li><a href="#building-new-services">Building new services</a></li>
    <li><a href="#writing-accessible-forms">Writing accessible forms</a></li>
  </ul>

  <div class="c-resource-section">
    <h2 id="writing-content">Writing content</h2>
    {% for post in collections.content %}
      {% set postTags = post.data.tags %}
      {% for tag in postTags %}
        {% if "resource" in tag %}
          {# Stores data about the post into variables used in the blog-summary partial #}
          {% set postTitle = post.data.title %}
          {% set postSummary = post.data.summary %}
          {% set postUrl = post.url %}
          {% set postAuthors = post.data.author %}
          {% set postPublished = post.data.publishedDate %}
          {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
          {% include "_partials/resource-summary.njk" %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="c-resource-section">
    <h2 id="building-new-services">Building new services</h2>
    {% for post in collections.buildingNewServicesAlphabetised %}
      {% set postTags = post.data.tags %}
      {% for tag in postTags %}
        {% if "resource" in tag %}
          {# Stores data about the post into variables used in the blog-summary partial #}
          {% set postTitle = post.data.title %}
          {% set postSummary = post.data.summary %}
          {% set postUrl = post.url %}
          {% set postAuthors = post.data.author %}
          {% set postPublished = post.data.publishedDate %}
          {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
          {% include "_partials/resource-summary.njk" %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <div class="c-resource-section">
    <h2 id="writing-accessible-forms">Writing accessible forms</h2>
    {% for post in collections.writingAccessibleFormsAlphabetised %}
      {# Stores data about the post into variables used in the blog-summary partial #}
      {% set postTitle = post.data.title %}
      {% set postTags = post.data.tags %}
      {% set postSummary = post.data.summary %}
      {% set postUrl = post.url %}
      {% set postAuthors = post.data.author %}
      {% set postPublished = post.data.publishedDate %}
      {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
      {% include "_partials/resource-summary.njk" %}
    {% endfor %}
  </div>

{% endblock %}
