---
title: Home
---

{% set title = site.name %}

{% extends "_layouts/base.html" %}

{% block breadcrumbs %}
  <ol class="c-breadcrumbs">
    <li class="c-breadcrumbs__list-item">
      <a href="{{ '/' | url }}" class="c-breadcrumbs__link">Home</a>
    </li>
  </ol>
{% endblock %}

{% block mainContent %}
  <p>Categories:</p>

  <ul>
    <li><a href="#research">Research</a></li>
    <li><a href="#contentForms">Content and forms</a></li>
    <li><a href="#checkingAccessibility">Checking accessibility</a></li>
    <li><a href="#requirementsRules">Requirements and rules</a></li>
  </ul>

  <div class="c-resource-section">
    <h2 id="research">Research</h2>
    {% for post in collections.research %}

      {% if post.data.status != "draft" %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.data.publishedDate %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/resource-summary.njk" %}
      {% endif %}

    {% endfor %}
  </div>

  <div class="c-resource-section">
    <h2 id="contentForms">Content and forms</h2>
    {% for post in collections.contentForms %}

      {% if post.data.status != "draft" %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.data.publishedDate %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/resource-summary.njk" %}
      {% endif %}

    {% endfor %}
  </div>

  <div class="c-resource-section">
    <h2 id="checkingAccessibility">Checking accessibility</h2>
    {% for post in collections.checkingAccessibility %}

      {% if post.data.status != "draft" %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postTags = post.data.tags %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.data.publishedDate %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/resource-summary.njk" %}
      {% endif %}

    {% endfor %}
  </div>

  <div class="c-resource-section">
    <h2 id="requirementsRules">Requirements and rules</h2>
    {% for post in collections.requirementsRules %}

      {% if post.data.status != "draft" %}
        {# Stores data about the post into variables used in the blog-summary partial #}
        {% set postTitle = post.data.title %}
        {% set postTags = post.data.tags %}
        {% set postSummary = post.data.summary %}
        {% set postUrl = post.url %}
        {% set postAuthors = post.data.author %}
        {% set postPublished = post.data.publishedDate %}
        {# Includes the blog-summary partial code, putting the post's data into a reusable template #}
        {% include "_partials/resource-summary.njk" %}
      {% endif %}

  {% endfor %}
  </div>

{% endblock %}
