---
title: Site map
eleventyExcludeFromCollections: true
summary: 'A map of the Accessibility Resources site'
---
{# <?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for page in collections.all %}
        <url>
            <loc>{{ site.url }}{{ page.url | url }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
        </url>
    {% endfor %}
</urlset> #}

{% extends "_layouts/base.html" %}

{% block mainContent %}

<ul>
  <li><a href="/accessibility/">Defra Accessibility Resources</a>

    <ul>

      <li>Checking accessibility
        <ul>
          {% for page in collections.checkingAccessibilityAlphabetised %}
            {% if page.data.status != "draft" %}
              <li>
                <a href="{{ page.url | url }}">{{page.data.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <li>Content and forms
        <ul>
          {% for page in collections.contentFormsAlphabetised %}
            {% if page.data.status != "draft" %}
              <li>
                <a href="{{ page.url | url }}">{{page.data.title}}</a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </li>

      <li>Requirements and rules
        <ul>
          {% for page in collections.requirementsRulesAlphabetised %}
            {% if page.data.status != "draft" %}
              <li>
                <a href="{{ page.url | url }}">{{page.data.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <li>Research
        <ul>
          {% for page in collections.researchAlphabetised %}
            {% if page.data.status != "draft" %}
              <li>
                <a href="{{ page.url | url }}">{{page.data.title}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

    </ul>
  </li>

</ul>


{% endblock %}
